
a {
    color: aqua;
}

body   {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
}

.flexheader {
    display: flex;
    justify-content: space-between;
    background-image: url(assets/quantum.jpg);
}

nav {
    color:white;
}

ul {
    margin-right: 20px;
}

li {
    color: black;
    opacity: 50%;
}

li:hover{
    opacity:100%
}

li:active{
    font-weight:bold;
}

h1 {
    color:white;
    font-size: 60px;
}

h2 {
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    color:rgb(66, 57, 57);
    height:86px;
}

h5 {
    font-size: 50px;
}

p {
    width:300px;
    padding:20px;
    margin-left: 20px;
    margin-right:20px;
    font-style: italic;
    font-weight:bold;
    font-size:  20px;
    border: 2px solid black;
    color: black;
}

h3, h4, h6 {
    font-size: 40px;
    color:rgb(66, 57, 57);
    text-align:center;

}

h6 {
    margin-top: 60px;
    height:0px;
}

.leftside {
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

section #whativedone {
    font-weight: bold;
}

.rowreverse {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items:center;

}

.rowreverse div {
    font-size: 40px;
    font-weight:bold;
}

.rowreverse img:hover {
    transform:scale(1,1.25);
}

.rowreverse img:active {
    transform:scale(1,1.5);
}

.rounded {
     border-radius: 20px;
}

.spaceevenly {
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content: space-evenly;
    padding-top: 70px;
}

.spaceevenly img:hover {
    transform:scale(1,1.25);
}

.spaceevenly img:active {
    transform:scale(1,1.5);
}

.spaceevenly div {
    font-size: 20px;
    font-weight: bold;
}

.spaceevenlynopad {
    display:flex;
    margin-bottom:20px ;
    align-items:center;
    justify-content: space-evenly;
}

