
a {
    color: aqua;
}

body   {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: #b1a2a2;
}

.flexheader {
    display: flex;
    justify-content: space-between;
    background-image: url(assets/quantum.jpg);
}

nav {
    display:flex;
    align-items: center;
    color:white;
    font-family: fantasy;
}

ul {
    margin-right: 20px;
}

li {
    color: white;
    opacity: 70%;
}

li:hover{
    opacity:100%;
}

li:active{
    font-weight:bold;
}

h1 {
    
    font-family: sans-serif;
    color:white;
    font-size: 60px;
}

h2 {
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    color:rgb(66, 57, 57);
    height:86px;
}

h5 {
    font-size: 50px;
}

p {
    width:500px;
    padding:20px;
    margin-left: 20px;
    margin-right:20px;
    font-style: italic;
    font-weight:bold;
    font-size:  20px;
    border: 2px solid black;
    color: black;
}

.leftside p {
    font-family: sans-serif;
}

h3, h4, h6 {
    font-size: 40px;
    color:rgb(66, 57, 57);
    text-align:center;

}

h6 {
    margin-top: 60px;
    height:0px;
}

.leftside {
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.me {
    transform: rotate(-8deg);
    border: 2px solid black;
}

section #whativedone {
    font-weight: bold;
}

#whativedone img {
    border: 2px solid black;
}

.rowreverse {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items:center;

}

.rowreverse div {
    font-size: 40px;
    font-weight:bold;
}

.rowreverse img:hover {
    transform:scale(1,1.25);
}

.rowreverse img:active {
    transform:scale(1,1.5);
}

.rounded {
     border-radius: 20px;
}

.spaceevenly {
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content: space-evenly;
    padding-top: 70px;
}

.spaceevenlynopad li {
    color:black;
}
.spaceevenly img:hover {
    transform:scale(1,1.25);
}

.spaceevenly img:active {
    transform:scale(1,1.5);
}

.spaceevenly div {
    font-size: 20px;
    font-weight: bold;
}

.spaceevenlynopad {
    display:flex;
    margin-bottom:20px ;
    align-items:center;
    justify-content: space-evenly;
}
  
  /* Large smartphones - navbar changes color */
 @media screen and (max-width: 1020px) {
    h1 {
        font-size: 40px;
        margin-top: 50px;
    }

@media screen and (max-width: 855px) {
    h1 {
        font-size: 30px;
        margin-top: 50px;
        }
  }

  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 1020px) {
    h2 {
        font-size: 40px;
    }
  }
  
  @media screen and (max-width: 855px) {
    h2 {
        font-size: 30px;
    }
  }

  @media screen and (max-width: 1020px) {
    .me {
        max-width: 300px;
        max-height: 185px;
    }

@media screen and (max-width: 938px) {
    .me {
        max-width: 200px;
        max-height: 150px;
    }

@media screen and (max-width: 670px) {
    .headshot {
        max-width: 100px;
        max-height: 75px;
    }
  }

  @media screen and (max-width: 1020px) {
    .leftside p {
        font-size:17px;
    }