
a {
    color: aqua;
}

body   {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: blue;
}

.flexheader {
    display: flex;
    justify-content: space-between;
    background-image: url(assets/quantum.jpg);
}

li {
    color:aqua;
    opacity: 50%;
}

li:hover{
    opacity:100%
}

li:active{
    font-weight:bold;
}

h1 {}

h2 {
    align-items: center ;
    text-align:center;
    size: 40px;
    background-color: navy;
    color:aqua
}


p {
    margin-left: 20px;
    font-weight: bold;
    font: size 20px;

}

h3, h4, h5 {

}

h3 {
    margin-left:134px;
}

h4 {
    text-align:end;
    margin-right:227px;
}

.leftside {
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.rightside {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items:center;
}

.spacebetween {
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.spaceevenly {
    display:flex;
    align-items:center;
}

.spaceevenly p {
    margin-right:100px
}