
a {
    color: aqua;
}

body   {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(128, 128, 172);
}

.flexheader {
    display: flex;
    justify-content: space-between;
    background-image: url(assets/quantum.jpg);
}

ul {
    margin-right: 20px;
}

li {
    color:aqua;
    opacity: 50%;
}

li:hover{
    opacity:100%
}

li:active{
    font-weight:bold;
}

h1 {
    color:rgb(211, 238, 211);
    font-size: 60px;
}

section {
    border: 5px solid black;
}

h2 {
    display:flex;
    justify-content:center;
    align-items: center;
    font: 40px;
    background-color: navy;
    color:aqua;
    height:86px;
}


p {
    width:300px;
    padding:20px;
    border:2px solid black;
    margin-left: 20px;
    margin: right 200px;
    font-style: italic;
    font-size:  20px;

}

h3, h4, h5 {
    font-size: 40px;
    color:rgb(87, 41, 41);
    text-align:center;

}

.leftside {
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.rowreverse {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items:center;
}

.spaceevenly {
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    padding-top: 70px;
}

.spaceevenlynopad {
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}